.tag {
    font-weight: 500;
    /* text-transform: uppercase; */
    min-width: 3rem;
    letter-spacing: 0.2px;
}

.tag-new {
    background-color: var(--green-1) !important;
    color: var(--green-5) !important;
}

.tag-hot {
    background-color: #ffe3e3 !important;
    color: #ff6b6b !important;
}

.tag-common {
    background-color: #fff9db !important;
    color: #fcc419 !important;
}