.button {
    letter-spacing: 0.25px;
}

.button1 {
    background-color: var(--green-4);
    color: #fff;
    font-weight: 500;
    border-radius: 2rem;
    padding: 1rem 2rem;

    transition: all 0.4s ease;
}

.button1:hover {
    background-color: var(--green-5);
    color: #fff;
}

.button2 {
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 2rem;
    border-color: var(--green-7);

    padding: 1rem 2rem;
    transition: all 0.4s ease;
}

.button2:hover {
    color: #fff;
    background-color: var(--green-7);
}

.button3 {
    width: 100%;
    /* background-color: var(--green-6); */
    color: #fff;
    border-radius: 0;
  background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
  border: none;
  /* border-radius: 21px; */
  box-shadow: 0px 1px 8px var(--green-4);
  padding: 1.5rem;

    transition: all 0.4s ease;
}

.button3:hover {
  box-shadow: 0px 1px 18px var(--green-4);
    /* background-color: var(--green-8); */
    color: #fff;
}

.button:focus {
    box-shadow: none !important;
    border-color: var(--green-7);
    outline: none;
}

.button4 {
    min-width: 200px;
    height: auto;
    background-color: var(--dark);
    color: #fff;

    font-weight: bold;
    text-transform: uppercase;

    border: none;
    border-radius: 0;
    padding: 1rem 2rem;
    /* transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    transition: 0.5s;

    background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);
    background-size: 200% auto;

}

.button4:hover {
    /* background-color: var(--green-8) !important; */
    background-position: right center; /* change the direction of the change here */
    color: #fff;
}

.button5 {
    width: 100%;
    /* max-width: 500px;
    width: 500px; */

    background-color: var(--dark);
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.2px;
    border-radius: 2px;
    border: 2px solid white !important;
    outline: none;
    border: none;

    padding: 1.5rem;

    transition: all 0.3s ease;
}

.button5:hover {
    /* background-color: var(--green-6); */
    background-color: inherit;
    border-color: var(--dark) !important;
    color: var(--dark);
}

.social-btn {
    width: 90%;
    max-width: 400px;
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
    padding: 1.5rem 0 1.5rem 2rem;
    justify-content: flex-start;
    border: none;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.btn-facebook {
    background-color: #1877f2;
    color: #fff;
}

.btn-facebook:hover {
    color: #fff;
    background-color: #016bf7;
}

.btn-google {
    background-color: #fff;
    color: #757575;
}

.btn-github {
    /* background-color: #000; */
    background-color: #312f2f;
    color: #fff;
}

.btn-github:hover {
    background-color: #1f1e1e;
    color: #fff;
}