.donate-box-wrapper {
    width: 100vw;
    /* min-height: 75vh; */
    padding: 3rem 0;

    /* background-color: #f1f9ff; */
    background-color: var(--green-0);
    background: url('/assets/bg7.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    color: #fff;

    z-index: 0;
}

.donate-box-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.donate-box {
    width: 75%;
    z-index: 1;
    color: #fff;

    min-height: 75vh;
}

.donate-box-title p:first-child {
    position: relative;

    background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.donate-box-title p:first-child::before, .donate-box-title p:first-child::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 2rem;
    height: 3px;
    background-color: var(--color-1);
    background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
}

.donate-box-title p:first-child::before {
    left: calc(50% - 6.5rem);
}

.donate-box-title p:first-child::after {
    right: calc(50% - 6.5rem);
}

.donate-box-amount button {
    background-color: #fff;
    border-radius: 0;
    border: none !important;

    /* background-color: inherit; */
    /* border-width: 3px; */
    /* border-color: #e1eaf0; */

    margin-right: 0.75rem;
    padding: 1.5rem 2rem;
    width: 6rem;

    transition: all 0.25s ease-in-out;
}

.donate-box-amount button:hover, .donate-box-amount-selected {
    background-color: #2dbd6e !important;
    color: #fff !important;
}

.donate-box-button button {
    padding: 2rem 5rem;
}
