.product-view-image-main .image {
    /* border-radius: 2rem; */
    /* border-radius: 6px; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
}

.product-view-images > div {
    flex-basis: 25%;
}

.product-view-images > div{
    padding-right: 6px;
}

.product-view-images .image {
    /* border-radius: 1rem; */
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;;

    outline: 3px solid #fff;

    transition: all 0.25s ease;
}

.product-view-images .image-show .image {
    /* border: 5px solid var(--green-6); */
    /* outline: 5px solid var(--green-2); */
    outline-color: var(--green-3);
    z-index: 10;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.product-view-content > * {
    margin-bottom: 0.75rem;
}