.product-view-image-main .image {
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;
}

.product-view-images > div {
    flex-basis: 25%;
}

.product-view-images > div{
    padding-right: 6px;
}

.product-view-images .image {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;;
}

.product-view-images .image-show .image {
    border: 5px solid var(--green-6);
}

.product-view-content > * {
    margin-bottom: 0.75rem;
}