.product-card {
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid #eee;
    border-radius: 1.25rem;
    overflow: hidden;
    padding-bottom: 1.25rem; */

    transition: all 0.75s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    /* border: 1px solid var(--dark); */
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.product-card a:hover {
    color: var(--green-7);
}

.product-card .image-hidden {
    opacity: 0;
    transition: all 0.75s ease;
}

.product-card .image-show {
    opacity: 1;
    transform: scale(1.05);
    transition: all 0.75s ease;
}

.product-card-add:hover {
    color: var(--green-8);
    transition: all 0.2s ease;
}
