.product-card {
    transition: all 0.75s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #fff;
    overflow: hidden;
}

.product-card img {
    transition: all 0.5s ease;
}

.product-card:hover img {
    transform: scale(1.05);
}

.product-card a:hover {
    color: var(--green-7);
}

.product-card .image-hidden {
    opacity: 0;
    transition: all 0.75s ease;
}

.product-card .image-show {
    opacity: 1;
    transform: scale(1.05);
    transition: all 0.75s ease;
}

.product-card-add:hover {
    color: var(--green-8);
    transition: all 0.2s ease;
}

.product-card-title {
    transition: all 0.3s ease;
}

.product-card-tag {
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 10;
}