.donate-action-wrapper {
    padding: 8rem 0;
}

.donate-action {
    width: 80%;
}

.donate-action-content {
    position: absolute;
    bottom: -5%;
    right: -5%;

    color: #fff;
    background-color: var(--green-6);
    width: 45%;
}

.donate-action-content-mobile {
    position: initial;
    width: 100%;
}

.donate-action-content-left {
    left: -5% !important;
}

.donate-action-link:hover span {
    transition: all 0.4s ease;
    /* color: #fff; */
    color: var(--green-1) !important;
}

.donate-action-link:hover svg {
    transition: all 0.4s ease;
    fill: var(--green-1) !important;
}