
.screen-loading {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;

    /* background-color: var(--green-0); */
/* background: #A1FFCE;
background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);
background: linear-gradient(to right, #FAFFD1, #A1FFCE); */

background: var(--green-2);
background: -webkit-linear-gradient(to right, var(--green-1), var(--green-3));
background: linear-gradient(to right, var(--green-1), var(--green-3));

}