.checkout {
}

.checkout-form .label {
    font-weight: normal;
    font-size: 0.9rem;
    color: #7a7a7a;
}

.checkout-form input, .checkout-form textarea {
    height: 1rem;
    padding: 1rem;
    font-size: 0.9rem;
    color: #7a7a7a;

    border-radius: 0;
    box-shadow: none;
    transition: all 0.15s ease-in-out;
}

.checkout-form input:focus{
    color: inherit;
    box-shadow: none;
    border-color: var(--green-8);
}

.checkout-button {
    /* background-color: #E86F4A; */
    width: 100%;
}

.checkout-button:hover {
    background-color: #E35226 !important;
}

.checkout-button:focus {
    border: #E35226 !important;
}

.checkout-cart {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* border-radius: 6px; */
}

.checkout hr {
    height: 1.5px;
}