.common-category {
    /* background-color: var(--green-); */
    background-color: #fff;
}

.common-category-item .image {
    border-radius: 50%;
    overflow: hidden;
}

.common-category-button {
    width: 80%;
}