.product-carousel-wrapper {
    /* background-color: var(--green-0); */
    background-color: #fff;
}
.product-carousel .item {
    padding: 0 1px;
}

.product-carousel .item > div {
    background-color: var(--green-7);
    color: #fff;
}

.product-carousel .color-button {
    line-height: 1;
    width: 76%;
    font-size: 0.8rem;
}
