.product-carousel-wrapper {
    /* background-color: var(--green-0); */
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;

    overflow-x: hidden;
}

.product-carousel-wrapper hr {
    background-color: hsl(0deg 0% 90%);
}

.product-carousel .item {
    padding: 0 1px;
}

.product-carousel .item > div {
    background-color: var(--green-7);
    color: #fff;
}

.product-carousel .color-button {
    line-height: 1;
    width: 76%;
    font-size: 0.8rem;
}

.carousel-next, .carousel-prev {
    background-color: #fff;
    color: var(--dark);
    box-shadow: rgb(0 0 0 / 25%) 0px 0px 24px 0px;
    transition: all 0.25s ease;
}

.carousel-next:hover, .carousel-prev:hover {
    border: 1px solid rgb(116, 121, 124);
}

.product-carousel-title::after, .product-carousel-title::before {
    content: '';
    width: 5rem;
    height: 3px;
    background: var(--dark);

    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.product-carousel-title::before {
    left: calc(50% - 9rem);
}

.product-carousel-title::after {
    right: calc(50% - 14rem);
}