.header {
    color: var(--text);
    background-color: #fff;
    min-height: 80px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.header-logo {
    display: block;
    width: 160px;
}

.header a {
    color: var(--text);
    transition: all ease 0.4s;

    letter-spacing: 0.5px;
}

.header a:hover {
    color: var(--green-8);
}

.header-menu > div {
    padding: 0 1.5rem;
    font-size: 0.9rem;
    min-height: 80px;
}

.header-menu a > *:first-child {
    margin-right: 8px;
}

.header-menu-active {
    color: var(--green-8) !important;
}

.header-tool > * {
    padding: 0 0.7rem;
    line-height: 1.5rem;
}

.header-username{
    font-size: 0.9rem;
    /* color: #69db7c; */
    color: var(--green-6);
}

.cart-amount {
    position: absolute;
    top: -12px;
    right: -12px;

    font-size: 0.75rem;
    line-height: 0.75rem;
    background-color: var(--green-4);
    color: #fff;
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.menu-list {
    position: absolute;
    top: 100%;
    left: 0;

    border-top: 5px solid var(--green-7);

    background-color: #fff;
    width: 100%;

    transform: scaleY(0);
    transition: all ease 0.25s;
    transform-origin: top center;
    opacity: 0;
   /* transform: translateX(113px); */
}

.menu-list-show {
    transform: scaleY(1);
    opacity: 1;
}

.menu-list-item {
    width: 50%;
    line-height: 1rem;
}

.menu-list-item > a:hover {
    color: var(--green-8) !important;
}

/* Nav cart */
.nav-cart {
    min-width: 300px;
    max-height: calc(100vh - 80px);
    background-color: white;

    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;

    transform: scaleY(0);
    transition: all ease 0.25s;
    transform-origin: top center;
    opacity: 0;

    overflow-y: auto;
    user-select: none;
}

.nav-cart hr {
  background-color: var(--green-4);
  height: 1.5px;
}

.nav-cart-header h3 {
    font-weight: bold;
}

.nav-cart-list {
    display: flex;
    flex-direction: column;
}

.nav-cart-list-item {
    display: flex;
    margin-bottom: 0.5rem;
}

.nav-cart-list-item .item-image-wrapper {
    width: 100px;
}

.nav-cart-list-item .item-image {
    position: relative;
    display: block;

    width: 100%;
    padding-top: 100%;

    overflow: hidden;
}

.nav-cart-list-item .item-image img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-cart-list-item .item-content {
    flex-grow: 1;
    padding-left: 1rem;
}

.nav-cart-list-item .item-content>*:not(:first-child) {
    margin: 6px 0;
}

.nav-cart-list-item .item-name {
    font-weight: 600;
}

.nav-cart-list-item .item-description {
    font-size: 12px;
}

.nav-cart-list-item .item-option {
    display: flex;
    ;
    justify-content: space-between;
}

.nav-cart-list-item .item-amount {
    padding: 2px 4px;

    border: 1px solid #c2c2c2;
}

.nav-cart-list-item .item-amount>span {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.nav-cart-list-item .item-amount>span:nth-child(2) {
    cursor: default;
}

.nav-cart-list-item .item-price {
    font-weight: 600;
}

.nav-cart-total {
    display: flex;
    justify-content: space-between;

    font-weight: 600;
}

.nav-cart-show {
    transform: scaleY(1);
    opacity: 1;
}

/* Dropdown user */
.dropdown-user {
    position: absolute;
    top: 100%;

    width: 9rem;
    background-color: #fff;
    border-top: 5px solid var(--green-7);

    transform: scaleY(0);
    transition: all ease 0.25s;
    transform-origin: top center;
    opacity: 0;
}

.dropdown-user ul li:hover {
    color: var(--green-8) !important;
}

.dropdown-user-show {
    transform: scaleY(1);
    opacity: 1;
    z-index: 100;
}

/* Dropdown menu list */
.dropdown-menu-list {
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 100;

    /* background-color: #fff; */
    background-color: var(--green-5);
    height: 0;
    width: 100vw;

    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.dropdown-menu-list-show {
    height: calc(100vh - 80px);
}

.dropdown-menu-list-item {
    width: 80%;
    color: #fff;

    transition: all 0.5s ease;
}

.dropdown-menu-list-item:hover, .dropdown-menu-list-item-show {
    background-color: var(--green-6);
}

.dropdown-menu-list-item .item-expand {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.subcategory {
    color: #fff !important;
}

.subcategory:hover {
    color: var(--green-2) !important;
}

.list-subcategory {
    height: 0px;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.list-subcategory-show {
    height: auto;
}

.dropdown-menu-list-button {
    width: 50%;
}

.dropdown-menu-list-button button {
    background-color: #fff;
    color: var(--green-8);
    border: none;
}

.dropdown-menu-list-button button:hover {
    background-color: var(--green-8);
}