.featured-product {
    background-color: var(--green-1);
    padding: 4rem 0;
}

.featured-product > div {
    width: 75%;
    margin: 0 auto;
}

.featured-product-content {
    width: 80%;
    padding: 1rem;
    min-height: 100px;
    margin-top: -1rem;
}

.featured-product-button {
    width: 25%;
    line-height: 1;

    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
}