.featured-product {
    /* background-color: var(--green-1); */
    padding: 2rem 0 3rem;

    /* background: #56ab2f;
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    background: linear-gradient(to right, #a8e063, #56ab2f);  */

    background: url('/assets/donate-1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.featured-product > div {
    margin: 0 auto;
}

.featured-product-content {
    width: 80%;
    padding: 1rem;
    min-height: 100px;
    margin-top: -1rem;
}

.featured-product-button {
    width: 25%;
    line-height: 1;

    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
}

.featured-product-title::after, .featured-product-title::before {
    content: '';
    width: 5rem;
    height: 3px;
    background: #fff;

    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.featured-product-title::before {
    left: calc(50% - 11rem);
}

.featured-product-title::after {
    right: calc(50% - 16rem);
}