/* Footer */
.footer-wrap {
  background-color: var(--dark);
}

.footer {
  background-color: inherit;
  color: #999;

  padding: 3rem 1.5rem 3rem;
}

.footer a {
  color: #999;
}

.footer a:hover {
  color: #bbb;
}