.login {
    height: calc(100vh - 80px);

    /* background-color: var(--green-9); */
    /* background: url('/assets/bg8.jpg');
    background-size: cover;
    background-position: top; */
}

.login-column {
    background-color: #fff;
    border-radius: 1rem;
    height: 100%;
}

.social-btn-mobile > svg {
    width: 50px;
    height: 50px;

    border-radius: 50%;
    padding: 0.4rem;
    margin-right: 1rem;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.login-background {
    position: absolute;
    inset: 0;
    height: 100%;
    z-index: -1;

    /* background: url('/assets/bg4.jpg');
    background-size: cover;
    background-position: center; */

    /* background: rgb(125,216,33);
    background: linear-gradient(90deg, rgba(125,216,33,1) 7%, rgba(13,65,17,1) 92%, rgba(17,18,36,1) 100%); */
background: rgb(125,216,33);
background: radial-gradient(circle, rgba(125,216,33,1) 17%, rgba(13,65,17,1) 86%, rgba(17,18,36,1) 100%);
}

.login-background::before {
    content: '';
    position: absolute;
    inset: 0;

    background-color: #51cf66aa;
}

.login-button {
    width: 100% !important;
}
