:root {
  --green-0: #ebfbee;
  --green-1: #d3f9d8;
  --green-2: #b2f2bb;
  --green-3: #8ce99a;
  --green-4: #69db7c;
  --green-5: #51cf66;
  --green-6: #40c057;
  --green-7: #37b24d;
  --green-8: #2f9e44;
  --green-9: #2b8a3e;
  --text: #404040;
  --dark: #333;
  --color-1: #EA7E5D;
  --color-2: #FDECEF;

  /* --green-0: #ebfbee;
  --green-1: #d3f9d8;
  --green-2: #b2f2bb;
  --green-3: #8ce99a;
  --green-4: #69db7c;
  --green-5: #51cf66;
  --green-6: #40c057;
  --green-7: #37b24d;
  --green-8: #2f9e44;
  --green-9: #2b8a3e;
  --text: #404040;
  --dark: #333;
  --color-1: #F4743B;
  --color-2: #5BC0EB; */

  /* --green-0: #f6fdf6;
  --green-1: #d9f8db;
  --green-2: #bdf2bf;
  --green-3: #a0eda4;
  --green-4: #84e788;
  --green-5: #67e26d;
  --green-6: #4add52;
  --green-7: #2ed736;
  --green-8: #24bf2c;
  --green-9: #1fa225;
  --text: #404040;
  --dark: #333;
  --color-1: #017260;
  --color-2: #003855; */

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

body {
  color: var(--text);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Plus Jakarta Sans', 'Inter', 'Roboto', 'Montserrat', sans-serif;

  /* scroll smooth */
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

a {
  color: var(--text);
  text-decoration: none;
}

img {
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Plus Jakarta Sans', 'Inter', 'Montserrat', sans-serif;
}

.background-dark {
  width: 100vw;
  min-height: 100vh;
  height: 100%;

  position: absolute;
  inset: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}

.main {
  min-height: calc(100vh - 80px);
  margin-top: 80px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(222, 222, 222, .75);
  width: 0.6rem;
  margin-block: 3px;
}

::-webkit-scrollbar-thumb {
  /* background-color: var(--green-3); */
  background-color: rgba(0, 0, 0, .5);
  border-radius: 1rem;
}

/* Another components */
.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.no-margin {
  margin: 0 !important;
}

.margin-20-buttom {
  margin-bottom: -20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.has-cursor-pointer {
  cursor: pointer;
}

.has-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.font-heading {
  font-family: 'Plus Jakarta Sans', 'Inter', 'Montserrat', sans-serif !important;
}

.font-body {
  font-family: 'Plus Jakarta Sans', 'Inter', 'Roboto', 'Montserrat', sans-serif !important;
}

/* Color button */
.color-button {
  width: 100%;
  color: #fff;
  outline: 0;
  background: 0 0 !important;
  padding: 0.5rem;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  line-height: 2;
  font-weight: bold;

  cursor: pointer;
  overflow: hidden;

  position: relative;
  z-index: 1;

  transition: all .5s;
  box-shadow: 3px 3px 0 #fdb1be;
}

.color-button:hover {
  color: #fff;
}

.color-button::before {
  content: '';
  position: absolute;
  inset: 0;

  background-color: #8cd0e3;
  z-index: -2;

  transform: translate3d(0, 0, 0);
}

.color-button::after {
  content: '';
  position: absolute;
  inset: 0;

  height: 100%;

  background: #948ad3;
  z-index: -1;
  width: 200%;
  transform: translate3D(-50%, 0, 0) rotate(-50deg);
  transform-origin: 0 bottom;
  transition: all .5s cubic-bezier(.52, 1.64, .37, .66);
}

.color-button:hover::after {
  transform: translate3D(0, 0, 0);
}

/* Color divide */
.color-divide {
  width: 100%;
  height: 1px;
  background-color: var(--green-4);
}

/* Carousel */
.carousel-next,
.carousel-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 6px;
  font-size: 2rem;
  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.carousel-next {
  right: 0;
}

.carousel-prev {
  left: 0;
}

.slick-slider,
.slick-dots {
  position: initial !important;
}

.slick-dots>li button::before {
  color: var(--green-6) !important;
  transition: all 0.5s ease;
  opacity: 0.5;
}

.slick-dots>.slick-active button::before {
  transform: scale(2);
}

/* input  */
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;

  font: inherit;
  color: var(--dark);
  width: 18px;
  height: 18px;
  border: 1px solid var(--dark);
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.6em;
  height: 0.6em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: center;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #fff;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked {
  background-color: var(--green-4);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="text"], input[type="password"], textarea {
  border-radius: 0;
  border-color: #e1eaf0 !important;
  border-width: 3px !important;
  box-shadow: 0;

  font-size: 1.25rem;
  font-weight: 500;

  transition: all 0.2s ease-in-out;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  box-shadow: none;
  outline: none;
  border-color: var(--green-8) !important;
}