.sortby {
    border-bottom: 3.5px solid rgb(247, 247, 247);
}

.select select {
    border: none !important;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
}

.select select:focus {
    outline: none;
    border: none !important;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: var(--green-7);
}