.banner {

}

.banner .item {
    height: calc(100vh - 80px);
    width: 100%;
}

.banner img {
    width: 100%;
    height: 100%;
}

.banner .next, .banner .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    z-index: 10;
    font-size: 2rem;

    color: #fff;
    font-size: 5rem;
    opacity: 0.5;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all 0.5s ease;
}

.banner .next:hover, .banner .prev:hover {
    opacity: 1;
}

.banner .prev {
    left: 1rem;
}

.banner .next {
    right: 1rem;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-80%);

    width: 50%;
    color: #fff;
    z-index: 10;
}

.banner .item > div:first-child::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.15);
}

/* .banner-content button {
    width: 20%;
    background-color: var(--dark);
    color: #fff;

    font-weight: bold;
    text-transform: uppercase;

    border: none;
    border-radius: 0;
    margin-top: 2rem;
    padding: 2rem 8rem;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.banner-content button:hover {
    background-color: var(--green-8) !important;
} */
